<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>


<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="#" class="b-brand text-primary">

        <img src="assets/images/logo_h-removebg-preview.png" style="height: 40%;width: 50%;margin-left: 25%;margin-top: 20%">
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Menu</label>
          <i class="ti ti-dashboard"></i>
        </li>
        <li class="pc-item">
          <a routerLink="/dashboard" class="pc-link"><span class="pc-micon"><i class="ti ti-dashboard"></i></span><span class="pc-mtext">Dashboard</span></a>
        </li>
        <li class="pc-item pc-caption">
          <label>Pages</label>
          <i class="ti ti-news"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-calendar"></i></span><span class="pc-mtext">Planification</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
        </li>

        <li class="pc-item pc-hasmenu">
          <a routerLink="/clients" class="pc-link"><span class="pc-micon"><i class="ti ti-user"></i></span><span class="pc-mtext">Clients</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
        </li>
        <li class="pc-item pc-caption">
          <label>Other</label>
          <i class="ti ti-brand-chrome"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
    facture</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
        </li>
        </ul>
      <div class="w-100 text-center">
        <div class="badge theme-version badge rounded-pill bg-light text-dark f-12"></div>
      </div>
    </div>
  </div>
</nav>
